* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     background-color: #edf6f9;
     max-width: 1440px;
     margin: 0 auto;
}

form {
     width: 40%;
     border: 1px solid transparent;
     text-align: center;
     padding: 2rem 0;
     margin: 5rem auto;
     box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
     background-color: #fff;
     letter-spacing: 0.1rem;
     font-size: 1.2rem;
     color: #6d6f70;
}

h1 {
     text-align: center;
     margin: 3rem 0;
     text-shadow: 1px 1px #000;
     font-size: 2.2rem;
     letter-spacing: 0.2rem;
}

input {
     width: 60%;
     height: 25px;
     border: 1px inset #edf6f9;
     border-radius: 0.3rem;
}

::placeholder {
     padding: 0.5rem;
}

input:hover, input:focus {
     background-color: #edf6f9;
     border-color: #a2d2ff;
     outline-color: #a2d2ff;
}

button {
     width: 40%;
     height: 1.8rem;
     border: 2px outset #06d6a0;
     border-radius: 4rem;
     background-color: #06d6a0;
     font-size: 1.1rem;
     font-weight: 400;
     color: #fff;
     text-shadow: 1px 0.2px #000;
} 

button:hover, button:focus {
     background-color: #acf3ac;
     border-color: #acf3ac;
     outline-color: #acf3ac;
     font-style: italic;
     color: #000;
}